<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    <link rel="stylesheet" type="text/css" href="/css/appointment.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Afacad">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script src="/js/appointment.js" defer></script>
</head>
<body>

    <div>
        <header>
            <div th:replace="~{header :: header}">...</div>
        </header>
    </div>

    <div class="container">
        <h1>Appointment</h1>
        <form action="/makeAppointment/save" method="get" th:object="${appointment}">
            <label for="pacient">Patient:</label>
            <input type="hidden" id="pacient" th:field="*{patientProfile}" >
            <h3 th:text="${appointment.getPatientProfile().getLastName()+ ' ' + appointment.getPatientProfile().getFirstName()}"></h3>


            <label for="doctor">Doctor:</label>
            <input type="hidden" id="doctor" th:field="*{doctorProfile}">
            <h3 th:text="${appointment.getDoctorProfile().getLastName() + ' '+ appointment.getDoctorProfile().getFirstName()}"> </h3>


            <label for="dateInput">Appointment date:</label>
            <input type="date" id="dateInput" name="data" th:field="*{appointmentDate}">

            <select id="selectOptions" th:field="*{appointmentHour}">
                <option value="">Select an hour</option>
            </select>

            <label for="note">Details:</label>
            <textarea id="note" name="note" rows="4" placeholder="Details..." th:field="*{details}"></textarea>

            <input type="hidden" th:field="*{fulfilled}">

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
