<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calendar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/calendarDoctor.css">
    <script src="/js/calendarDoctor.js" defer></script>

</head>
<body>

<div>
    <header>
        <div th:replace="~{header :: header}">...</div>
    </header>
</div>

<div class="container mt-4">
    <h2 th:text="${currentMonthName} + ' ' + ${currentYear}" class="text-center mb-4"></h2>

    <div class="row mb-2">
        <div class="col-6 text-left">
            <a th:href="@{/calendarDoctor(year=${currentYear}, month=${currentMonth - 1})}"
               class="btn btn-primary">&lt;</a>
        </div>
        <div class="col-6 text-right">
            <a th:href="@{/calendarDoctor(year=${currentYear}, month=${currentMonth+1})}"
               class="btn btn-primary">&gt;</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th th:each="dayOfWeek : ${daysOfWeek}" th:text="${dayOfWeek}"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="week : ${calendar}">
            <td th:each="day : ${week}">
                <button th:if="${day != null && day != ''}" th:text="${day}" th:attr="data-day=${day}, data-month=${currentMonth}, data-year=${currentYear}" class="day-button" onclick="getAppointments(this)"></button>            </td>
        </tr>

        </tbody>
    </table>
</div>


<div id="appointments" style="display: flex; flex-wrap: wrap;"></div>


</body>
</html>
