<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/review.css">
    <link rel="stylesheet" type="text/css" href="/css/calendarPatient.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>

<div>
    <header>
        <div th:replace="~{header :: header}">...</div>
    </header>
</div>

<h1>All Appointments</h1>

<div class="container justify-content-between">
    <div class="row ">
        <div th:each="entry : ${appsAndMed}" class="col-md-4" style="margin-bottom: 10px">
            <div class="appointment" >
                <div>
                    <p><strong>When </strong> <span th:text="${entry.key.appointmentDate} + ' ' + ${entry.key.appointmentHour}"></span></p>
                    <p><strong>Doctor: </strong> <span th:text="${entry.key.doctorFirstName} + ' ' + ${entry.key.doctorLastName}"></span></p>
                    <p><strong></strong> <span th:text="${entry.key.details}"></span></p>
                    <p><strong></strong> <span th:text="${entry.key.fulfilled} ? 'Fulfilled' : 'Not Fulfilled'"></span></p>
                    <div th:each="prescription : ${entry.value}">
                        <p>Medicine: <span th:text="${prescription.medicineName}"></span></p>
                        <p th:text="${prescription.details}"></p>
                    </div>
                    <div th:if="${entry.key.fulfilled == true}">
                        <div class="rating-box">
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <button class="submit-btn" th:attr="data-appointment-id=${entry.key.id}">Review</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div>
</div>

<script>

    const ratingBoxes = document.querySelectorAll(".rating-box");

    ratingBoxes.forEach(ratingBox => {
        const stars = ratingBox.querySelectorAll(".stars i");
        stars.forEach((star, index1) => {
            star.addEventListener("click", () => {
                stars.forEach((star, index2) => {
                    index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
                });
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        const submitButtons = document.querySelectorAll(".submit-btn");

        submitButtons.forEach(button => {
            button.addEventListener("click", function() {
                const appointmentId = button.getAttribute("data-appointment-id");
                const activeStars = button.parentElement.querySelector(".stars").querySelectorAll(".active").length;
                window.location.href = `/appointmentReview/${appointmentId}/${activeStars}`;
            });
        });
    });


</script>

</body>
</html>
