<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calendar</title>
    <!-- Adăugăm link-ul către fișierul CSS Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        body{
            background-color: #99d6ff;
        }
        .appointment {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            max-width: 400px; /* Setează lățimea maximă */
            margin-left: auto; /* Aliniază la centru */
            margin-right: auto; /* Aliniază la centru */
        }
        .fulfilled {
            text-align: right;
            margin-top: 5px;
        }

        td button{
            background-color: #99d6ff;
            border: none;
        }

    </style>
</head>
<body>

<div>
    <header>
        <div th:replace="~{header :: header}">...</div>
    </header>
</div>

<div class="container mt-4">
    <h2 th:text="${currentMonthName} + ' ' + ${currentYear}" class="text-center mb-4"></h2>

    <div class="row mb-2">
        <div class="col-6 text-left">
            <!-- Buton pentru luna anterioară -->
            <a th:href="@{/calendar(year=${currentYear}, month=${currentMonth - 1})}"
               class="btn btn-primary">&lt;</a>
        </div>
        <div class="col-6 text-right">
            <!-- Buton pentru luna următoare -->
            <a th:href="@{/calendar(year=${currentYear}, month=${currentMonth+1})}"
               class="btn btn-primary">&gt;</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <!-- Afisam numele zilelor -->
            <th th:each="dayOfWeek : ${daysOfWeek}" th:text="${dayOfWeek}"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="week : ${calendar}">
            <!-- Afisam zilele calendarului -->
            <td th:each="day : ${week}">
                <button th:if="${day != null && day != ''}" th:text="${day}" th:attr="data-day=${day}, data-month=${currentMonth}, data-year=${currentYear}" class="day-button" onclick="getAppointments(this)"></button>            </td>
        </tr>

        </tbody>
    </table>
</div>


<div id="appointments" style="display: flex; flex-wrap: wrap;"></div>

<script>
    function getAppointments(button) {
        const day = button.getAttribute('data-day');
        const month = button.getAttribute('data-month');
        const year = button.getAttribute('data-year');

        fetch(`/getAppointments?day=${day}&currentMonth=${month}&currentYear=${year}`)
            .then(response => response.json())
            .then(data => {
                // Afiseaza rezultatul in div-ul 'appointments'
                const appointmentsDiv = document.getElementById('appointments');
                appointmentsDiv.innerHTML = ''; // Sterge continutul anterior

                // Construiește div-uri pentru fiecare programare
                data.forEach(appointment => {
                    const appointmentDiv = document.createElement('div');
                    appointmentDiv.classList.add('appointment');

                    // Adaugă numele și prenumele, bolduite
                    const nameDiv = document.createElement('div');
                    nameDiv.innerHTML = `<strong>${appointment.patientProfile.lastName}, ${appointment.patientProfile.firstName}</strong>`;
                    appointmentDiv.appendChild(nameDiv);

                    // Adaugă data și ora
                    const dateTimeDiv = document.createElement('div');
                    dateTimeDiv.textContent = `Date & Time: ${appointment.appointmentDate}, ${appointment.appointmentHour}`;
                    appointmentDiv.appendChild(dateTimeDiv);

                    // Adaugă detalii
                    const detailsDiv = document.createElement('div');
                    detailsDiv.textContent = `Details: ${appointment.details}`;
                    appointmentDiv.appendChild(detailsDiv);

                    // Verifică valoarea lui fulfilled și adaugă butonul corespunzător
                    const fulfilledDiv = document.createElement('div');
                    fulfilledDiv.classList.add('fulfilled');
                    if (appointment.fulfilled) {
                        fulfilledDiv.textContent = "Fulfilled";
                    } else {
                        const button = document.createElement('button');
                        button.textContent = "Fulfill";
                        button.addEventListener('click', () => markAsFulfilled(appointment.id));
                        fulfilledDiv.appendChild(button);

                        const prescriptionButton = document.createElement('button');
                        prescriptionButton.textContent = "Create Prescription";
                        prescriptionButton.addEventListener('click', () => redirectToPrescriptionCreation(appointment.doctorProfile.id, appointment.patientProfile.id));
                        appointmentDiv.appendChild(prescriptionButton);
                    }
                    appointmentDiv.appendChild(fulfilledDiv);

                    // Adaugă div-ul cu programarea în div-ul principal
                    appointmentsDiv.appendChild(appointmentDiv);
                });
            })
            .catch(error => console.error('Error fetching appointments:', error));
    }

    function markAsFulfilled(appointmentId) {
        fetch(`/markAppointmentFulfilled/${appointmentId}`, {
            method: 'PUT'
        })
            .then(response => {
                if (response.ok) {
                    console.log("Appointment marked as fulfilled successfully!");
                    // Actualizează interfața utilizatorului sau face alte acțiuni necesare
                } else {
                    console.error("Failed to mark appointment as fulfilled:", response.status);
                    // Tratează erorile sau afișează mesaje de eroare către utilizator
                }
            })
            .catch(error => console.error('Error marking appointment as fulfilled:', error));
    }

    function redirectToPrescriptionCreation(doctorId, patientId) {
        window.location.href = `/createPrescription?doctorId=${doctorId}&patientId=${patientId}`;
    }

</script>
</body>
</html>
