<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista Doctorilor</title>
  <style>
        .doctor-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            width: 300px;
            display: flex;
            align-items: center;
        }
        .doctor-image {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .doctor-details {
            flex-grow: 1;
        }
    </style>
</head>
<body>
<h1>Lista Doctorilor</h1>
<div th:each="hospital : ${hospitals}">
  <div class="doctor-box">
<!--    <img class="doctor-image" th:src="@{/profileImage/{imageId}(imageId=${hospital.id})}" alt="Hospital Image"/>-->
    <div th:each="imageBase64 : ${base64Images}">
      <img class="doctor-image" th:src="'data:image/png;base64,' + ${imageBase64}" alt="User Image"/>
    <div class="doctor-details">
      <p><strong>Name: </strong><span th:text="${hospital.name}"></span></p>
      <p><strong>Address: </strong><span th:text="${hospital.address}"></span></p>
      <p><strong>City: </strong><span th:text="${hospital.city}"></span></p>
      <p><strong>Country: </strong><span th:text="${hospital.country}"></span></p>
    </div>
    </div>
  </div>
</div>
</body>
</html>
